myetrade.sqlite3
myetrade.sqlite3-journal
.idea
*~
python_etrade
__pycache__
myetrade_django/settings.py
stock/trend_alg_config.pickle
stock/migrations
python_simtrade/sim_config.json
python_coinbase
.vscode
