<html>
<body>
<h1>Graph Range</h1>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Submit"/>
</form>
{% if report_url %}
<a href="/stock/report_range/{{ report_url|safe }}">download report</a>
<br>
{% endif %}
{% if head_list and body_list %}
performance
<table boarder="1">
    <thead>
    <tr>
        {% for head in head_list %}
        <th align="right">{{ head|safe }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <br>
    {% for body in body_list %}
    <td align="right">{{ body|safe }}</td>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% if figure %}
{{ figure|safe }}
{% endif %}
</body>
</html>